<section>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-12">
                <ul class="model-menu">
                    <li onclick="goBack()"><button class="btn text-white bg-dark" matTooltip="Previous Page" matTooltipPosition="below"><span class="material-symbols-outlined">arrow_back</span></button></li>
                    <li (click)="refresh()"><button class="btn text-white btn-primary" matTooltip="Refresh Page Data" matTooltipPosition="below"><span class="material-symbols-outlined">refresh</span></button></li> |
                    <li><a>Opportunity Master</a></li>
                </ul>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-md-12 shadow card p-1">
                <div class="row">
                    <div class="col-md-5">
                        <div class="searchBar d-flex justify-content-center align-items-center">
                            <span class="material-symbols-outlined">search</span>
                            <mat-form-field style="width: 100%;">
                                <mat-label>Search</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Enter search text..." #input>
                            </mat-form-field>
                            <button mat-raised-button color="primary" style="margin-bottom: 24px;padding: 28px;" matTooltip="Search if data not in table." matTooltipPosition="above">Search</button>
                            <button mat-raised-button style="margin-bottom: 24px;padding: 28px;" matTooltip="Clear filter." matTooltipPosition="above">Clear</button>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center align-items-center"></div>
                    <div class="col-md-5 align-self-end text-end mb-4 pe-4">
                        <button type="button" mat-raised-button class="me-2" [routerLink]="['/master/opportunity/create']" routerLinkActive="router-link-active" color="primary" matTooltip="Create new Opportunity." matTooltipPosition="above"> <mat-icon>add</mat-icon> New Opportunity.</button>
                    </div>
                </div>
            </div>
        </div>
        <ng-container>
            <div class="container-fluid">
                <div class="row shadow">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 p-1">
                                <div class="card p-3 my-2" *ngFor="let job of jobPostList" [ngClass]="job.selectedJob ? 'bg-gray shadow' : ''">
                                    <div (click)="selectJob(job)">
                                        <p>Profile Name: <strong>{{job.job_title}}</strong></p>
                                        <p>Experience: <strong>{{job.min_yoe}} - {{job.max_yoe}} Year</strong></p>
                                        <p>Skills: <strong><span *ngFor="let skill of job.required_skills">{{skill.skill_name}}, </span>...</strong> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card my-2 shadow p-3" *ngFor="let item of selectedJobData">
                                    <h2><strong>{{item.id}}: </strong>{{item.job_title}}</h2>
                                    <p> <strong>Job Type: </strong> <span> {{item.employment_type == 'ft-p' ? 'Full Time Permanent' : 'full time temporary'}}</span></p>
                                    <p><strong>Job Location: </strong> <span *ngFor="let loc of item.available_location">{{loc.city_name}}, </span> </p>
                                    <p><strong>Job From: </strong> <span>{{item.work_mode == 'in_office' ? 'Work from office' : 'Work from home'}}</span></p>
                                    <p *ngIf="item.show_salary"> <strong> Salary Detail: </strong> {{item.salary_unit == 'INR' ? '&#8377;' : item.salary_unit == 'USD' ? '&#x24;' : ''}}{{item.min_salary}} to {{item.salary_unit == 'INR' ? '&#8377;' : item.salary_unit == 'USD' ? '&#x24;' : ''}}{{item.max_salary}}LPA </p>
                                    <p><strong>Required Experience: </strong> {{item.min_yoe}} to {{item.max_yoe}} Year</p>
                                    <p> <strong>Job Description: </strong> <span [innerHTML]="item.job_description"></span></p>
                                    <strong>Required Skills: </strong> <ul><li *ngFor="let skill of item.required_skills">{{skill.skill_name}}</li></ul>
                                    <strong>Required Qualification: </strong> <ul><li *ngFor="let qualify of item.qualification">{{qualify.qualification_name}}</li></ul>
                                    <p><strong>Department: </strong> {{item.department}}</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card p-3 my-2 shadow" *ngFor="let cand of candidateData">
                                    {{cand.person_name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>