<section>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-12">
                <ul class="model-menu">
                    <li onclick="goBack()"><button class="btn text-white bg-dark" matTooltip="Previous Page" matTooltipPosition="below"><span class="material-symbols-outlined">arrow_back</span></button></li>
                    <li (click)="refresh()"><button class="btn text-white btn-primary" matTooltip="Refresh Page Data" matTooltipPosition="below"><span class="material-symbols-outlined">refresh</span></button></li> |
                    <li><a>Candidate Master</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 card">
                <div class="sidebarMain-1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="searchBar d-flex justify-content-center align-items-center">
                                <span class="material-symbols-outlined">search</span>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Enter search text..." #input>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center"> </div>
                        <div class="col-md-5 align-self-end text-end">
                            <button type="button" class="btn btn-primary me-2" (click)="openModal()" matTooltip="Upload new candidate Resume" matTooltipPosition="above"><span class="material-symbols-outlined">upload</span>Upload Resume</button>
                            <button type="button" class="btn btn-success" (click)="download()" matTooltip="Download selected records in Excel." matTooltipPosition="above"><span class="material-symbols-outlined">cloud_download</span></button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort id="export">
                        <ng-container matColumnDef="usdp_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
                            <td mat-cell *matCellDef="let element"> {{element.usdp_id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="dpname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.dpname}} </td>
                        </ng-container>
                        <ng-container matColumnDef="dpdics">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department description </th>
                            <td mat-cell *matCellDef="let element"> {{element.dpdics}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status ? "Active" : "Inactive"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="createddate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.createddate | date: 'medium'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="createdby">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by </th>
                            <td mat-cell *matCellDef="let element"> {{element.createdby}} </td>
                        </ng-container>
                        <ng-container matColumnDef="updateddate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.updateddate | date: 'medium'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="updatedby">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated by </th>
                            <td mat-cell *matCellDef="let element"> {{element.updatedby}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button mat-raised-button class="text-white bg-secondary"><span class="material-symbols-outlined">edit</span></button>&nbsp;
                                <button mat-raised-button color="warn"><span class="material-symbols-outlined">delete_forever</span></button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow class="text-center"> No data matching the filter "{{input.value}}"</tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="limits" showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
            </div>
        </div>
    </div>
</section>