<section>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-12">
                <ul class="model-menu">
                    <li onclick="goBack()"><button class="btn text-white bg-dark" matTooltip="Previous Page" matTooltipPosition="below"><span class="material-symbols-outlined">arrow_back</span></button></li>
                    <li (click)="refresh()"><button class="btn text-white btn-primary" matTooltip="Refresh Page Data" matTooltipPosition="below"><span class="material-symbols-outlined">refresh</span></button></li> |
                    <li><a>Candidate Master</a></li>
                </ul>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-md-12 shadow card p-1">
                <div class="row">
                    <div class="col-md-5">
                        <div class="searchBar d-flex justify-content-center align-items-center">
                            <span class="material-symbols-outlined">search</span>
                            <mat-form-field style="width: 100%;">
                                <mat-label>Search</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Enter search text..." #input>
                            </mat-form-field>
                            <button mat-button (click)="search()" style="margin-bottom: 20px;" matTooltip="Search if data not in table." matTooltipPosition="above">Search</button>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <mat-button-toggle-group name="layoutStyle" aria-label="layout Style" class="mb-3">
                            <mat-button-toggle value="grid" (click)="changeLayout('grid')" matTooltip="Table format view" matTooltipPosition="above"><mat-icon>format_list_bulleted</mat-icon></mat-button-toggle>
                            <mat-button-toggle value="table" (click)="changeLayout('table')" matTooltip="Grid format view" matTooltipPosition="above"><mat-icon>border_all</mat-icon></mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="col-md-5 align-self-end text-end mb-4 pe-4">
                        <button type="button" mat-raised-button color="primary" (click)="openUploadModal()" class="me-2" matTooltip="Upload new candidate Resume" matTooltipPosition="above"><mat-icon>upload</mat-icon> Upload Resume</button>
                        <button type="button" *ngIf="layoutStyle == 'table'" mat-raised-button class="me-2" style="background-color: green;color: white;" (click)="download()" matTooltip="Download selected records in Excel." matTooltipPosition="above"><span class="material-symbols-outlined">cloud_download</span></button>
                        <label for="limit" *ngIf="layoutStyle == 'grid'">
                            <select id="limit" name="limit" class="form-select" (click)="dataLimit()">
                                <option *ngFor="let limit of limits" value="{{limit}}">{{limit}}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <ng-container *ngIf="layoutStyle == 'table'">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort id="export">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click to sort" matTooltipPosition="above"> ID. </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="person_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click to sort" matTooltipPosition="above"> Person_Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.person_name | titlecase}} </td>
                            </ng-container>
                            <ng-container matColumnDef="email_address">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click to sort" matTooltipPosition="above"> Department_Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.email_address}} </td>
                            </ng-container>
                            <ng-container matColumnDef="phone_no">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click to sort" matTooltipPosition="above"> Phone_Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.phone_no}} </td>
                            </ng-container>
                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click to sort" matTooltipPosition="above"> Last_Updated_Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'short'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="resume_file">
                                <th mat-header-cell *matHeaderCellDef> Resume_File </th>
                                <td mat-cell *matCellDef="let element"><a href="{{element.resume_file}}" target="_blank" mat-button color="primary"><span class="material-symbols-outlined">visibility</span></a></td>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element" class="d-flex"> 
                                    <a mat-button (click)="openProfile(element)"><span class="material-symbols-outlined">edit</span></a>&nbsp;
                                    <a mat-button color="warn" (click)="removeProfile(element)"><span class="material-symbols-outlined">delete_forever</span></a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow class="text-center"> No data matching the filter "{{input.value}}"</tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="limits" showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
                </ng-container>
                <ng-container *ngIf="layoutStyle == 'grid'">
                   <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 card">
                            <div class="row">
                                <form [formGroup]="filterForm" class="mb-2" (ngSubmit)="applyCandidateFilter()">
                                    <div class="row">
                                        <p class="d-grid gap-2 px-2 my-2">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Location</mat-label>
                                                <input matInput formControlName="location" type="text">
                                            </mat-form-field>
                                        </p>
                                        <ul style="list-style-type:none;">
                                            <h3>Skill:</h3>
                                            <li><mat-checkbox color="primary" formControlName="angular">Angular</mat-checkbox></li>
                                            <li><mat-checkbox color="primary" formControlName="nodejs">NodeJS</mat-checkbox></li>
                                            <li><mat-checkbox color="primary" formControlName="html">HTML</mat-checkbox></li>
                                            <li><mat-checkbox color="primary" formControlName="javascript">JavaScript</mat-checkbox></li>
                                            <li><mat-checkbox color="primary" formControlName="css">CSS</mat-checkbox></li>
                                            <li><mat-checkbox color="primary" formControlName="git">Git</mat-checkbox></li>
                                            <li><mat-checkbox color="primary" formControlName="docker">Docker</mat-checkbox></li>
                                        </ul>
                                        <div class="px-2 gap-2 d-grid">
                                            <button mat-raised-button type="submit" color="primary">Apply Filter</button>
                                        </div>
                                    </div>
                                </form>
                                <button mat-raised-button type="submit" (click)="match = '';ngOnInit()">Clear Filter</button>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row px-2">
                                <div class="card">
                                    <div class="row" style="background-color: #0d6efd1c;">
                                        <div class="col-md-6 p-1" *ngFor="let item of candidateData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i = index">
                                            <mat-card class="shadow">
                                                <mat-card-header>
                                                    <mat-card-title>{{item.person_name | titlecase}}</mat-card-title>
                                                    <mat-card-subtitle>{{item.phone_no}}</mat-card-subtitle>
                                                    <mat-card-subtitle>{{item.email_address}}</mat-card-subtitle>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <p><strong matTooltip="Candidate ID." matTooltipPosition="above">{{item.id}}:- &nbsp; </strong> {{item | json}}</p>
                                                </mat-card-content>
                                                <mat-card-actions>
                                                    <a href="{{item.resume_file}}" matTooltip="Download Candidate Resume." matTooltipPosition="above" target="_blank" download="{{item.resume_file}}"><button mat-button><span class="material-symbols-outlined">download</span></button></a>
                                                    <a href="#" matTooltip="Share Candidate Details." matTooltipPosition="above"><button mat-button><span class="material-symbols-outlined">share</span></button></a>
                                                </mat-card-actions>
                                            </mat-card>
                                        </div>
                                        <div class="input-group-icon input-group-icon-right text-center mt-2">
                                            <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>