<section>
  <div class="container-fluid">
    <div class="row mt-2">
      <div class="col-md-12">
        <ul class="model-menu">
          <li onclick="goBack()"><button class="btn text-white bg-dark" matTooltip="Previous Page" matTooltipPosition="below"><span class="material-symbols-outlined">arrow_back</span></button></li>
          <li (click)="refresh()"><button class="btn text-white btn-primary" matTooltip="Refresh Page Data" matTooltipPosition="below"><span class="material-symbols-outlined">refresh</span></button></li> |
          <li><a>Opportunity Master</a></li>/
          <li><a>Create</a></li>
        </ul>
      </div>
    </div>
    <div class="row text-center bg-primary text-white">
      <h2 class="p-2">Opportunity creation form</h2>
    </div>
    <div class="row p-2">
      <div class="card p-2">
        <form (ngSubmit)="create()" [formGroup]="opportunityForm">
          <ng-container>
            <div class="row mb-2">
              <h2>Job Information</h2>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Job Title</mat-label>
                  <input matInput formControlName="job_title" type="text" placeholder="job_title">
                  <mat-error *ngIf="formCtrl.job_title.touched && formCtrl.job_title.errors?.required">Job Title must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Employment Type</mat-label>
                  <mat-select formControlName="employment_type">
                    <mat-option>None</mat-option>
                    <mat-option value="ft-p">Full time permanent</mat-option>
                    <mat-option value="ft-t">Full time temporary</mat-option>
                    <mat-option value="ft-fe">Full time freelancer</mat-option>
                    <mat-option value="pt-p">Part time permanent</mat-option>
                    <mat-option value="pt-t">Part time temporary</mat-option>
                    <mat-option value="pt-fe">Part time freelancer</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formCtrl.employment_type.touched && formCtrl.employment_type.errors?.required">Employment Type must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Work Mode</mat-label>
                  <mat-select formControlName="work_mode">
                    <mat-option>None</mat-option>
                    <mat-option value="in_office">In Office</mat-option>
                    <mat-option value="remote">Remote</mat-option>
                    <mat-option value="hybrid">Hybrid</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formCtrl.work_mode.touched && formCtrl.work_mode.errors?.required">Work Mode must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <div class="d-grid gap-2 px-1">
                  <mat-checkbox formControlName="allow_relocation" color="primary"> Allow Relocation</mat-checkbox>
                </div>
              </div>
            </div>
            <div class="row d-grid gap-2 px-3 mb-2">
              <div class="form-control mb-2">
                <label class="label">Job Description</label>
                <ngx-editor-menu [editor]="job_description_editor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor [editor]="job_description_editor" formControlName="job_description"> </ngx-editor>
              </div>
            </div>
            <div class="row">
              <h2>Experience Details</h2>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Min YOE</mat-label>
                  <input matInput formControlName="min_yoe" type="number" min="0" placeholder="min_yoe">
                  <mat-error *ngIf="formCtrl.min_yoe.touched && formCtrl.min_yoe.errors?.required">Min YOE must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Max YOE</mat-label>
                  <input matInput formControlName="max_yoe" type="number" min="0" placeholder="max_yoe">
                  <mat-error *ngIf="formCtrl.max_yoe.touched && formCtrl.max_yoe.errors?.required">Max YOE must be required!</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <h2>Salary Details</h2>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Select Salary Unit</mat-label>
                  <mat-select formControlName="salary_unit">
                    <mat-option>None</mat-option>
                    <mat-option value="INR">Indian (INR)</mat-option>
                    <mat-option value="USD">Dollar (USD)</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formCtrl.salary_unit.touched && formCtrl.salary_unit.errors?.required">Salary Unit must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Minimum Salary (in Annum)</mat-label>
                  <input matInput formControlName="min_salary" type="number" placeholder="min_salary">
                  <mat-error *ngIf="formCtrl.min_salary.touched && formCtrl.min_salary.errors?.required">Minimum Salary must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Maximum Salary (in Annum)</mat-label>
                  <input matInput formControlName="max_salary" type="number" placeholder="max_salary">
                  <mat-error *ngIf="formCtrl.max_salary.touched && formCtrl.max_salary.errors?.required">Maximum Salary must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <div class="d-grid gap-2 px-1">
                  <mat-checkbox formControlName="show_salary" color="primary"> Show Salary (To Candidate)</mat-checkbox>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <h2>Other Details</h2>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Company Name</mat-label>
                  <input matInput formControlName="company_name" type="text" placeholder="company_name">
                  <mat-error *ngIf="formCtrl.company_name.touched && formCtrl.company_name.errors?.required">Company Name must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Select a Department</mat-label>
                  <mat-select formControlName="department">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let dp of departmentList" [value]="dp.id">{{dp.department_name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formCtrl.department.touched && formCtrl.department.errors?.required">Department must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Select an Industry</mat-label>
                  <mat-select formControlName="industry">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let ind of industryList" [value]="ind.id">{{ind.industry_name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formCtrl.industry.touched && formCtrl.industry.errors?.required">industry must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Preferred Industry</mat-label>
                  <mat-chip-grid #chipGrid3 aria-label="Preferred Industry selection" formControlName="preferred_industry">
                    <mat-chip-row *ngFor="let item of industries" (removed)="removePreferredIndustry(item.id)" [value]="item.id"> {{item.industry_name}}
                      <button matChipRemove [attr.aria-label]="'remove ' + item.id"> <mat-icon>cancel</mat-icon> </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input placeholder="Enter Preferred Industry..." (keyup)="filterIndustry($event.target)" [matChipInputFor]="chipGrid3" [matAutocomplete]="auto3" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addIndustries($event)"/>
                  <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="selectedIndustry($event)">
                    <mat-option *ngFor="let item of filteredIndustryList" [value]="item"> {{item.industry_name}} </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="formCtrl.preferred_industry.touched && formCtrl.preferred_industry.errors?.required">Preferred Industry must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <div class="d-grid gap-2 px-1">
                  <mat-checkbox formControlName="show_recruiter_details" color="primary"> Show Recruiter Details (To Candidate)</mat-checkbox>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <h2>Details required from candidate</h2>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Required Skills</mat-label>
                  <mat-chip-grid #chipGrid2 aria-label="Skills selection" formControlName="required_skills">
                    <mat-chip-row *ngFor="let item of skills" (removed)="removeSkills(item.id)" [value]="item.id"> {{item.skill_name}}
                      <button matChipRemove [attr.aria-label]="'remove ' + item.id"> <mat-icon>cancel</mat-icon> </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input placeholder="Enter Skills..." (keyup)="filterSkills($event.target)" [matChipInputFor]="chipGrid2" [matAutocomplete]="auto2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSkills($event)"/>
                  <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedSkills($event)">
                    <mat-option *ngFor="let item of filteredSkillsList" [value]="item"> {{item.skill_name}} </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="formCtrl.required_skills.touched && formCtrl.required_skills.errors?.required">Skills must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Qualification</mat-label>
                  <mat-chip-grid #chipGrid1 aria-label="qualification selection" formControlName="qualification">
                    <mat-chip-row *ngFor="let item of qualifications" (removed)="removeQualifications(item.id)" [value]="item.id"> {{item.qualification_name}}
                      <button matChipRemove [attr.aria-label]="'remove ' + item.id"> <mat-icon>cancel</mat-icon> </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input placeholder="Enter Qualification..." (keyup)="filterQualification($event.target)" [matChipInputFor]="chipGrid1" [matAutocomplete]="auto1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addQualification($event)"/>
                  <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedQualification($event)">
                    <mat-option *ngFor="let item of filteredQualificationList" [value]="item"> {{item.qualification_name}} </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="formCtrl.qualification.touched && formCtrl.qualification.errors?.required">Qualification must be required!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="d-grid gap-2 px-1">
                  <mat-label>Available Location</mat-label>
                  <mat-chip-grid #chipGrid aria-label="Location selection" formControlName="available_location">
                    <mat-chip-row *ngFor="let item of locations" (removed)="removeLocation(item.id)" [value]="item.id"> {{item.city_name}}
                      <button matChipRemove [attr.aria-label]="'remove ' + item.id"> <mat-icon>cancel</mat-icon> </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input placeholder="Enter (New) Location..." (keyup)="filterLocation($event.target)" [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addLocation($event)"/>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedLocation($event)">
                    <mat-option *ngFor="let item of filteredLocationList" [value]="item"> {{item.city_name}} </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="formCtrl.available_location.touched && formCtrl.available_location.errors?.required">Available Location must be required!</mat-error>
                </mat-form-field>
              </div>
            </div>
          </ng-container>
          <div class="row">
          <div class="col-4"></div>
          <div class="col-4 text-center">
            <button type="submit" mat-raised-button color="primary">Publish Job</button>
          </div>
          <div class="col-4"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>