<header class="mb-3">
    <div class="container">
        <div class="row">
            <mat-toolbar class="bg-white">
                <mat-toolbar-row>
                    <span>AT Jobs</span>
                    <span class="spacer"></span>
                    <button *ngIf="!user" mat-raised-button color="primary">Sign in</button>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Log Out" *ngIf="user"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item><mat-icon>settings</mat-icon><span>{{userName}} Profile</span></button>
                        <button mat-menu-item (click)="logOutUser()"><mat-icon>close</mat-icon><span>Sign out</span></button>
                    </mat-menu>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</header>